*{
    margin:0px;
    padding: 0px;
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    background-color: rgb(97, 6, 6);
}
.container-logo{
    height: 100px;
    width: 400px;
    display: flex;
}
.store-logo{
    height: 100px;
    width: 100px;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.push{
    width: 299px;
}
.menu-container{
    height: 100px;
    width: 680px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.menu-bar{
    height: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;  
}
.login-button{
    height: 79px;
    width: 100px;
}
.button-tekst{
    height: 16px;
    width: 39px;
    display: flex;
    align-items: center;
    text-align: center;
}
.button {
    height: 35px;
    width: 77px;
    display: flex;
    border-radius:10px;
    padding: 10px;
    background-color: red;
    justify-content: center;
}
.intro-push{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.intro-container{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.intro{
    height: 500px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: rgb(97, 6, 6);
}
.left-block{
    width: 200px;
    height: 200px;
    display: flex;
    background-color: red;
}
.right-block{
    width: 600px;
    height: 300px;
    display: flex;
    background-color: red;
    border-radius: 10px;
}
.text-container{
    width: 100%;
    height: 61%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}
.intro-text{
    height: 24px;
    width: 72%;
    font-size: 24px;
}
.sub-intro{
    height: 2px;
    width: 80%;
    font-size: 23px;    
}
.intro-push2{
    width: 299px;
}
.categorieen-container{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}
.categorieen{
    height: 500px;
    width: 1000px;
    background-color: rgb(97, 6, 6);
}
.categorieen-titel{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: black;
}
.producten-container{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.openingstijden-container{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}
.tijden-container{
    height: 800px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(97, 6, 6);
}
.openingstijden-titel{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.openingstijden{
    height: 600px;
    width: 1000px;
    display: flex;
    justify-content: center;
}
.push5{
    height: 200px;
}
footer{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(97, 6, 6);
}
.footercontainer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu-footercontainer{
    height: 100px;
    width: 680px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.menu-footer{
    height: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.boodschapen-container{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-producten{
    height: 500px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: rgb(97, 6, 6);
}
.producten-linkeblok{
    width: 500px;
    height: 300px;
    display: flex;
    background-color: red;
    border-radius: 10px;
}
.producten-rechtenblok{
    width: 500px;
    height: 300px;
    display: flex;
    background-color: red;
    border-radius: 10px;
}
.tekst-product{
    height: 200px;
    width: 200px;
}
.tekst-linkeblok{
    height: 30%;
    width: 30%;
}
.tekst-rechteblok{
    position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #000000; 
  color: #fff; 
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;
}
/* mijn slider */
.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior:smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.slider img {
    scroll-snap-align:start;
    object-fit: cover;
    flex: 1 0 100%
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
/* mijn slider */
.push6{
    height: 300px;
    width: 299px;
}
.right-block{
    width: 600px;
    height: 300px;
    display: flex;
    background-color: red;
    border-radius: 10px;
}
.text-container{

}
.intro-text{
    height: 24px;
    width: 72%;
    font-size: 24px;
}
.sub-intro{
    height: 2px;
    width: 80%;
    font-size: 23px;    
}
.openingstijden-container{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}
.tijden-container{
    height: 800px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(97, 6, 6);
}
.openingstijden-titel{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.openingstijden{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.openingstijden2{
    width: 100%;
    height: 61%;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    font-size: 60px;
    margin-bottom: 10px;
}